    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Me</h2>
                <p>I’m Jaylon, welcome to my homepage! </p>
                <p>I come from Guangzhou, a beautiful city in southern China. 
                   Thanks to the multicultural atmosphere here, I can speak Mandarin, English, Cantonese and Hakka.
                   In this metropolis, I finished my primary and secondary education. 
                    And I’m receiving a higher education in Jinan University, an outstanding academic institution in Guangzhou.</p>
                <a ><img src="img/zhixin_people.jpg" alt="" height="450" width="800"></a>
                <a href="#zhixin" class="btn btn-circle page-scroll">
                   <i class="fa fa-angle-double-down animated"></i>
                </a>                
            </div>
        </div>
    </section>
