    <!-- Download Section -->
    <section id="hometown" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Guangzhou, My Forever Hometown</h2>
                    <p>Guangzhou, also known as Canton, 
                       is the capital and most populous city of the province of Guangdong in southern China. 
                       On the Pearl River about 120 km north-northwest of Hong Kong and 145 km north of Macau, 
                       Guangzhou has a history of over 2,200 years and was a major terminus of the maritime 
                       Silk Road, and continues to serve as a major port and transportation hub, as well as 
                       one of China's three largest cities. 
                    I love this city, because its food and culture never fail to fascinate me.
                        It's my forever hometown.</p>
                <a href="#more" class="btn btn-circle page-scroll">
                   <i class="fa fa-angle-double-down animated"></i>
                </a>                      
                </div>
            </div>
        </div>
    </section>
