    <!-- About Section -->
    <section id="jnu" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>JNU</h2>
                <p>JNU, short for Jinan University, 
                    is a public research and comprehensive university based on Guangzhou. 
                    It was founded in 1906 in Nanjing, whose mission is to spread Chinese 
                    learning and culture from North to South, and from China overseas. 
                    It is the first university in China to recruit foreign students, 
                    and is currently a Chinese university with the largest number of 
                    international students. The international atmosphere in JNU enables 
                    me to gain a global scope, and to make friends around the world.</p>
                <p><a ><img src="img/微信图片_20181226192054.jpg" alt="" height="419" width="800"></a></p>
                <p><a ><img src="img/微信图片_20181226234106.jpg" alt="" height="529" width="800"></a></p>
                <a href="#hometown" class="btn btn-circle page-scroll">
                   <i class="fa fa-angle-double-down animated"></i>
                </a>  
            </div>
        </div>
    </section>
