    <!-- About Section -->
    <section id="jnu" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>JNU</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p><a ><img src="img/微信图片_20181226192054.jpg" alt="" height="419" width="800"></a></p>
                <a href="#hometown" class="btn btn-circle page-scroll">
                   <i class="fa fa-angle-double-down animated"></i>
                </a>  
            </div>
        </div>
    </section>
