    <!-- Download Section -->
    <section id="zhixin" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Zhixin, Home for My Soul</h2>
                    <p>Zhixin High School, where I attain my high school diploma, is one of the best secondary school in Guangzhou. 
                        I met distinguished teacher there, made intimate friends here, and found myself there. 
                        Though not perfect, it is where I spent my full-filling and colorful high school life.</p>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
                </div>
            </div>
        </div>
    </section>
