    <!-- Download Section -->
    <section id="zhixin" class="content-section text-center">
        <div class="zhixin-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Zhixin, Home for My Soul</h2>
                    <p>Zhixin High School, where I attain my high school diploma,</p>
                    <p>is one of the best secondary school in Guangzhou. </p>
                    <p>I met distinguished teacher there, made intimate friends here, and found myself there. </p>
                    <p>Though not perfect, it is where I spent my full-filling and colorful high school life.</p>
                <a href="#jnu" class="btn btn-circle page-scroll">
                   <i class="fa fa-angle-double-down animated"></i>
                </a>                      
                </div>
            </div>
        </div>
    </section>
